body{font-family: 'Montserrat', sans-serif;background-color: #E5E5E5;}
.main{display: flex; flex-direction: row-reverse; ; width: 1200px;margin: auto;}
/* Main content */
.main_content{background-color: #FFFFFF; padding: 105px 90px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);}
.about_me{margin-bottom: 40px;}
.about_position{color: #000000;margin: 0 0 20px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;}
.about_name{color: #000000;margin: 20px 0 20px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;}
.about_text{color: #595959;width: 525px;margin: 20px 0 40px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;}
.projects{margin-bottom: 50px;}
.project_title{color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;}
.project_list{padding: 0;margin-left: 15px;}
.projects_item{color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;}
.one_project{color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;}
.project_link{color: #FB6D3A;margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;}
.project_bracket{color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;}
.work_experience{margin-bottom: 40px;}
.work_experience > h3{color: #FB6D3A;}
.work_main_title{color: #000000;margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;}
.company_1{margin-bottom: 20px;}
.company_2{margin-bottom: 20px;}
.company_3{margin-bottom: 40px;}
.work_titles{color: #000000;margin: 0 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;}
.company_name{color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;}
.dates{color: #A8A8A8;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;}
.line{color: #FB6D3A;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;}
.work_list{width: 525px;padding: 0;margin-left: 15px;}
.work_items{color: #595959;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;}
.work_text{color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;}
.education{padding: 0;}
.education_title{color: #000000;margin: 0 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;}
.education_place{color: #FB6D3A;margin: 0 0 10px 0;width: 525px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;}
.prior_name{color: #000000;}
.qualification{color: #000000;margin: 0 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;}
/* Sidebar */
.sidebar{background-color: #1E2939; width: 370px; padding-top: 40px;}
.sidebar h3{color: #FB6D3A;}
.my_img{width: 370px; margin-bottom: 10px;}
.sidebar_title{color: #FFFFFF; margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;}
.contacts{margin-left: 40px; margin-bottom: 45px;}
.type_of_contact{color: #FFFFFF; margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;}
.contact_link{color: #FB6D3A;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;}
.tech_skills{margin-left: 40px;margin-bottom: 45px;}
.tech_skills_list{color: #FFFFFF;padding: 0;margin-left: 10px;}
.soft_skills{margin-left: 40px;margin-bottom: 45px;}
.soft_skills_list{color: #FFFFFF;padding: 0;margin-left: 10px;}
.language{margin-left: 40px;}
.languages_list{color: #FFFFFF;padding: 0;margin-left: 10px;}
.skills_dot{color: #FB6D3A;  margin-left: 10px;}
.dash{color: #FB6D3A;}